.header {
	background-color: #1c1c1c;
	color: #ffffff;
	padding: 32px 1px;
	font-weight: 400;
}

.header_number .number {
	font-size: 30px;
	line-height: 37.8px;
}

.header_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navigation {
	display: flex;
}

.navigation_link {
	font-size: 30px;
	line-height: 37.8px;
}

.navigation_link:not(:last-child) {
	margin-right: 221px;
	line-height: 37.8px;
}

/* Стили для бургер-меню */
.burger-menu {
	display: none;
	flex-direction: column;
	cursor: pointer;
}

.burger-icon {
	width: 30px;
	height: 3px;
	background-color: white;
	margin: 5px 0;
	transition: 0.4s;
}

/* Мобильное меню */
.mobile-navigation {
	display: none;
	flex-direction: column;
	position: absolute;
	top: 80px;
	right: 55px;
	background-color: #1c1c1c;
	padding: 20px;
	border-radius: 8px;
}

.mobile-navigation .navigation_link {
	margin: 0px 0;
}

/* Адаптивные стили */
@media (max-width: 1200px) {
	.header_number .number {
		font-size: 21px;
		line-height: 22.8px;
	}
	.navigation {
		display: none; /* Скрываем основное меню */
	}

	.burger-menu {
		display: flex; /* Показываем бургер-меню */
	}
}

/* Показ мобильного меню при клике */
.mobile-navigation.show {
	display: flex;
	margin-top: 40px;
	padding: 20px;
}

/* Мобильное меню */
.mobile-navigation {
	display: none;
	flex-direction: column;
	gap: 30px;
	position: absolute;
	top: 80px;
	right: 25px;
	border: 2px solid #ffffff3c;
	background-color: #362828;
	padding: 20px;
	border-radius: 8px;
	z-index: 1000; /* Убедитесь, что меню отображается поверх остальных элементов */
}

/* Показ мобильного меню при активном классе */
.mobile-navigation.show {
	display: flex;
}

/* Стили бургер-меню */
.burger-menu {
	display: none;
	flex-direction: column;
	cursor: pointer;
	z-index: 1100; /* Чтобы бургер всегда был на виду */
}

.burger-icon {
	width: 30px;
	height: 3px;
	background-color: white;
	margin: 5px 0;
	transition: transform 0.3s ease, opacity 0.3s ease, background-color 0.3s ease; /* Плавный переход для анимации */
}

/* Адаптивные стили */
@media (max-width: 1200px) {
	.burger-menu {
		display: flex; /* Показываем бургер-меню только на мобильных */
	}
}

/* Анимация при активном бургер-меню */
.burger-menu.active .burger-icon:nth-child(1) {
	transform: rotate(45deg) translate(10px, 8px); /* Верхняя полоска превращается в наклонную */
}

.burger-menu.active .burger-icon:nth-child(2) {
	opacity: 0; /* Средняя полоска исчезает */
}

.burger-menu.active .burger-icon:nth-child(3) {
	transform: rotate(-45deg) translate(10px, -8px); /* Нижняя полоска превращается в наклонную */
}

/* //////////ужас хедера вверху*/

.hotel {
	background-color: #1c1c1c;
	color: #eaeaea;
}
.hotel__wrapper {
	display: flex;
	flex-direction: column;
}

.hotel__title {
	font-size: 95px;
	line-height: 122.56px;
	font-weight: 400;
	letter-spacing: -2px;
}
.hotel__subtitle {
	max-width: 272px;
	font-size: 22.63px;
	font-weight: 300;
	margin: 0 0 0 0;
}
.hotel__button {
	font-size: 30px;
	font-weight: 600;
	align-self: flex-end;
	width: 521px;
	border-radius: 10px;
	padding: 28px 0;
	text-align: center;
	display: block;
	background-color: #2f80ed;
	transform: translate(0, 40px);
	box-shadow: 1px 1px 3px 0px #909090;
	margin: 0 20px 0 0;
}

@media (max-width: 1200px) {
	.hotel__button {
		width: 321px;
		padding: 20px 0;
		font-size: 28px;
		margin: 0 0 0 0;
	}
}
@media (max-width: 700px) {
}
@media (max-width: 500px) {
	.hotel__button {
		align-self: center;
		font-size: 24px;
	}
	.hotel__title {
		font-size: 75px;
		line-height: 92.56px;
		font-weight: 400;
		letter-spacing: -2px;
	}
}

.hotel__button:hover {
	background-color: #2b7ae1;
}

.about {
	padding: 0 0 50px 0;
}
.container {
}
.about__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 56px;
}
.about__image1 {
}
.picture1 {
	max-width: 100%;
	border-radius: 0 0 20px 20px;
}
.about__info {
}
.hotel-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	gap: 56px;
}

.hotel-info__box1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 23px;
}
.hotel-info__text {
	max-width: 754px;
	font-size: 25px;
	font-weight: 500;
	color: #757575;
	padding: 50px 20px;

	background-color: #ffffff;
	flex: 1 1;
	border-radius: 20px;
}
.hotel-info__picture2 {
	max-width: 100%;
	border-radius: 20px;
}
.hotel-info__box2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 23px;
	flex: 1 1;
	justify-content: flex-end;
}
.hotel-info__picture3 {
	max-width: 100%;
	border-radius: 20px;
}
.hotel-info__picture4 {
	max-width: 100%;
	border-radius: 20px;
}

@media (max-width: 1232.98px) {
	.hotel-info {
		justify-content: center;
		align-items: center;
		gap: 6px;
	}
	.hotel-info__box2 {
		flex-direction: row;
		justify-content: space-between;
		overflow: hidden;
		gap: 0;
	}
	.hotel-info__box1 {
		justify-content: stretch;
	}
	.about__wrapper {
		gap: 20px;
	}
	.hotel-info__text {
		font-size: 20px;
		max-width: 100%;
	}
	.about {
		padding: 0 0 30px 0;
	}
	.hotel-info__picture2 {
		width: 100vw;
	}
	.hotel-info__picture3 {
		width: 43vw;
	}
	.hotel-info__picture4 {
		width: 43vw;
	}
}

.service {
	padding: 0 0 20px 0;
}
.container {
}
.service__wrapper {
	display: flex;
	gap: 20px;
}
.service__block {
}
.block-notary {
	flex: 1 0 437.19px;
	background: url(../image/mmm1.png) no-repeat;
	min-height: 706.25px;
}
.block-notary__text {
	color: #ffffff;
	font-size: 42.7px;
	font-weight: 500;
	line-height: 46.97px;
	text-align: center;
	padding: 30px 0;
}
.block-group {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}
.block-group__box {
	display: flex;
	gap: 20px;
}
.block-group__text1 {
	background: url(../image/mmm2.png) no-repeat;
	background-size: cover;
	flex: 1 0 429px;
	min-height: 342.42px;
	color: #ffffff;
	font-size: 42.7px;
	font-weight: 500;
	line-height: 46.97px;
	text-align: center;
	padding: 30px 0;
}
.block-group__text2 {
	background: url(../image/mmm3.png) no-repeat;
	background-size: cover;
	flex: 1 0 429px;
	min-height: 342.42px;
	color: #ffffff;
	font-size: 42.7px;
	font-weight: 500;
	line-height: 46.97px;
	text-align: center;
	padding: 30px 0;
}
.block-group__text3 {
	background: url(../image/mmm4.png) no-repeat;
	background-size: cover;
	flex: 1 0 879.41px;
	min-height: 342.42px;
	color: #ffffff;
	font-size: 42.7px;
	font-weight: 500;
	line-height: 46.97px;
	text-align: center;
	padding: 30px 0;
}

@media (max-width: 1439.98px) {
	.block-group__text1 {
		min-height: 0;
		flex: 1 1 879.41px;
		border-radius: 20px;
	}
	.block-group__text2 {
		min-height: 0;
		flex: 1 1 879.41px;
		border-radius: 20px;
	}
	.block-group__text3 {
		min-height: 0;
		flex: 1 1 1439.41px;
		border-radius: 20px;
	}
	.block-group__box {
		flex-wrap: wrap;
		flex: 1 1 879.41px;
	}
	.block-notary {
		flex: 1 1 437.19px;
		min-height: 0;
		background: url(../image/mmm1.png) no-repeat;
		background-size: cover;
		border-radius: 20px;
	}
	.service__wrapper {
		flex-wrap: wrap;
	}
	.block-group {
		flex: 1 1 1439px;
	}
}
@media (max-width: 760px) {
	.service__wrapper * {
		font-size: 23px;
	}
	.block-group__text1 {
		padding: 10px 0;
	}
	.block-group__text2 {
		padding: 10px 0;
	}
	.block-group__text3 {
		padding: 10px 0;
	}
	.block-notary__text {
		padding: 10px 0;
	}
	.block-group__box {
		gap: 5px;
	}
	.block-group {
		gap: 5px;
	}
	.service__wrapper {
		gap: 5px;
	}
}

.slider {
	max-width: 1440px;
	min-height: 40vw;
	position: relative;
	overflow: hidden;
	margin: 30px 0 30px 0;
	border-radius: 20px;
}
@media (max-width: 1400px) {
	.slider {
		min-height: 60vw;
	}
}

.slider-img {
	width: 100%;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.slider-img2 {
	width: 100%;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.slider-img.active {
	opacity: 1;
}
.slider-img2.active2 {
	opacity: 1;
}

.slider img {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
}

.slider .prev {
	left: 10px;
}
.slider .prev2 {
	left: 10px;
}

.slider .next {
	right: 10px;
}
.slider .next2 {
	right: 10px;
}

.luxroom__title {
	position: relative;
	margin: 0 0 0 20px;
	font-size: 30px;
	font-weight: 800;
	line-height: 33px;
	text-align: left;
	text-transform: uppercase;
}

/* .luxroom__title::before {
	position: absolute;
	content: 'Наші';
	font-family: Montserrat;
	font-size: 22.71px;
	font-style: italic;
	font-weight: 400;
	line-height: 33.12px;
	text-align: left;
	left: -70px;
	top: 0;
	color: #4285f4;
} */

.luxroom {
	padding: 10px 0;
}

.luxroom__info {
	margin: 0 0 30px 0;
}
.luxroom__name {
	position: relative;
	margin: 0 0 30px 120px;
	font-size: 27.81px;
	font-weight: 700;
	line-height: 30.59px;
	letter-spacing: 1.0679998397827148px;
	text-align: left;
}
.blue::before {
	position: absolute;
	content: 'номер';
	font-family: Montserrat;
	font-size: 22.71px;
	font-style: italic;
	font-weight: 400;
	line-height: 33.12px;
	text-align: left;
	left: -90px;
	top: 0;
	color: #59872c;
}
.luxroom__label {
	font-size: 24.48px;
	font-weight: 700;
	line-height: 26.92px;
	letter-spacing: 0.734250009059906px;
	text-align: left;
	margin: 0 0 20px 20px;
}
.luxrum__services {
}
.luxroom__point {
	font-size: 17.8px;
	font-weight: 500;
	line-height: 38.96px;
	letter-spacing: 0.6674999594688416px;
	text-align: left;
	color: #a0a0a0;
	padding: 0 0 0 30px;
	border-bottom: 1px solid #a0a0a0;
	background: url(../image/pointIcon.png) 6px 13px no-repeat;
}

.standartroom {
	padding: 30px 0;
}

/* Стиль для прелоадера */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff; /* Цвет фона прелоадера */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 9999; /* Поверх всех элементов сайта */
}

/* Анимация загрузки (spinner) */
.loader {
	border: 8px solid #f3f3f3; /* Светлая граница */
	border-top: 8px solid #3498db; /* Цвет анимации */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
	margin-bottom: 20px; /* Отступ для процентов */
}

/* Стиль для отображения процентов */
#loading-percentage {
	font-size: 18px;
	font-weight: bold;
	color: #3498db; /* Цвет текста процентов */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.chill {
	padding: 20px 0;
}
.container {
}
.chill__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.chill__picture {
}
.chill__image {
}
.chill__box {
}
.chill__title {
	font-size: 57.12px;
	font-weight: 500;
	line-height: 62.83px;
	text-align: left;
	color: #2f80ed;
	margin: 0 0 58px 0;
}
.chill__text {
	max-width: 773px;
	color: #757575;
	font-size: 22.9px;
	font-weight: 500;
	line-height: 28.62px;
	text-align: left;
}

@media (max-width: 1139.98px) {
	.chill__title {
		margin: 0 0 28px 0;
		text-align: center;
	}
}

@media (max-width: 499.98px) {
	.chill__title {
		font-size: 40px;
	}
}

.map {
	padding: 30px 0;
}
.container {
}
.map__wrapper {
}
.map__location {
	position: relative;
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.map__image {
	border-radius: 30px;
	max-width: 100%;
}
.map__info {
	position: absolute;
	right: 5%;
	bottom: 0;
	background-color: #ffffff;
	border-radius: 30px 30px 0 0;
	width: 300px;
	padding: 30px;
}
.map__title {
	color: #535353;
	font-weight: 500;
}
.map__text {
	color: #535353;
	font-weight: 400;
}
@media (max-width: 699.98px) {
	.map__info {
		padding: 10px 15px;
		right: 0;
		border-radius: 30px 0px 0 30px;
		margin: 0px 0 -30px 0;
	}
	.chill__text {
		font-size: 15px;
	}
	.chill__title {
		font-size: 33px;
		margin: 0 0 10px 0;
	}
}

.footer {
	padding: 20px 0;
}
.container {
}
.footer__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}
.footer__title {
	font-size: 28.28px;
	font-weight: 500;
	line-height: 53.11px;
	text-align: left;
	color: #5b5b5b;
	margin: 0 0 0px 0;
}
.footer__massages {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	line-height: 40px;
	font-size: 15px;
	gap: 20px;
}
.footer__massage {
	padding: 0 0 0 45px;

	color: #6d6d6d;
}
.footer__massage a {
	color: #6d6d6d;
}
.footer__massage:nth-child(1) {
	background: url(../image/phone.png) left top no-repeat;
	background-size: 40px;
}
.footer__massage:nth-child(2) {
	background: url(../image/wapp.png) left top no-repeat;
	background-size: 40px;
}
.footer__massage:nth-child(3) {
	background: url(../image/telega.png) left top no-repeat;
	background-size: 40px;
}
.footer__nav {
	align-self: flex-end;
	display: flex;
	gap: 10px;
}
.footer__navlink {
	font-size: 17px;
	font-weight: 600;
}
.footer__navlink a {
	color: #1c1c1c;
}

@media (max-width: 500px) {
	.footer__massages {
		flex-direction: column;
		align-self: flex-start;
	}
	.footer__nav {
		flex-direction: column;
	}
}

.room__button{
	padding: 10px 20px;
	color: #ffffff;
	background-color: #2b7ae1;
	border-radius: 20px;
}